<h1>Welcome <%=@current_user.name%></h1>


<%=link_to "Crimes updates for #{@current_user.city.display_name}", updates_path%>
<br>
<%=link_to "Your Cases", city_path(@current_user.city)%>


<%# five most recent updates, tip alerts, urgent things%>
<%# most wanted for user's own cases%>
<%# logout, login%>
<%# create new crime %>

