
<h1> <%= @current_user.name %>'s Updates </h1>

<table>
    <% @current_user.updates.each do |update| %>
        <tr>
            <td><%= link_to update.crime.title, crime_path(update.crime) %></td>
            <td><%= update.content %></td>
        </td>
    <% end %>
</table>