<h1>Cities & Case counts</h1>

<%= button_to 'Order by Crime Count', {:action => "high_crime", :method => :get} %>
<ul>
<% @cities.each do |city| %>
    <li>
        <%=link_to city.display_name, city_path(city) %><ul>
        <li> <%= city.crimes.count %> crimes</li>
    </ul></li>
    
<%end%>
</ul>

