
<h1>Field Office: <%=@city.display_name%></h1>
<hr>
<h2>Total Crimes: <%=@city.crimes.count%></h2>


<h3>Cases Files:</h3>
<ol>
    <%@city.crimes.each do |crime| %>
        <li> <%= image_tag crime.image_small %> <p> <%=link_to crime.title, crime_path(crime)%> </p> </li>

    <%end%>
</ol>