<h1>Hello</h1>

Home page content:
-Random or recently added crimes
-Crimes with highest rewards - Most Wanted

Navigation:
-Home
-Link to random crime
-Crimes by cities
-Login/Sign/Logout
-Anonymous tips
